.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
data/raw/*
data/processed/*
!data/processed/.gitkeep
reports/*.png
reports/*.pdf
reports/*.html
reports/*.svg
reports/*.xlsx
!reports/.gitkeep
